@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0fdf4;
}

.gradient-logo {
  background: -webkit-linear-gradient(#4ade80, #16a34a, #15803d, #166534, #14532d, #022c22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

.libre-baskerville-regular-italic-size {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-style: italic;
}

.table-td {
  background-color: #bbf7d0;
  color: #14532d;
  text-align: center;
  font-size: 14px;
  padding: 4px;
  width: 25%;
  border-bottom: solid 1px;
}

.text-red-500 {
  color: red;
  border-bottom: solid 1px #14532d;
}

.text-green-500 {
  color: blue;
  border-bottom: solid 1px #14532d;
}